

body {
  
  
  
}

.container {
 padding: 20px;
}

header, main, footer {
  padding: 20px;
  text-align: center;
}

h1, h2, h3 {
  
}

p {
  
}

img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
